@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 html, body {
 width: 100%;
 height: 100%;
 font-family: 'Space Grotesk', sans-serif;
}
#main {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.headerMenu {
    padding: 14px 30px;
    border: 2px solid #000;
    border-radius: 10px;
}

/* Page 1 Css */

#page1 {
    width: 80%;
    height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1 .left {
    width: 50%;
    position: relative;
}

#page1 .left h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}
#page1 .left p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}
#page1 .left button {
    padding: 14px 30px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

🚀 [GAMECHANGER ] Create Modern Landing Page with HTML and CSS



KeyWords
Create Modern Landing Page with HTML and CSS
create modern landing page with html and css and javascript
create modern landing page with html and css with source code
modern landing page html css
modern landing page html css js 
modern landing page html css
modern landing page
modern landing page html css js
modern landing page design
modern landing page tailwind css project
modern landing page react
modern landing page reactjs
modern landing page nextjs
modern landing page tailwind
modern landing page figma
modern landing page tutorial
modern login page html css 
build a modern landing page with tailwind css 
landing page kaise banaye
free landing page
ai landing page builder
best landing page design
landing page examples
landing page design html css
landing page tutorial
high-converting landing page
landing page youcan.
google sites landing page